<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbv.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.sbv.model.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_age" jdbcType="VARCHAR" property="userAge" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, user_age, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dm_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectUserAll" resultMap="BaseResultMap" resultType="java.util.HashMap">
    select
    <include refid="Base_Column_List" />
    from dm_user
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dm_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sbv.model.User">
    insert into dm_user (user_id, user_name, user_age,
      create_time)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userAge,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sbv.model.User">
    insert into dm_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userAge != null">
        user_age,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAge != null">
        #{userAge,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sbv.model.User">
    update dm_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAge != null">
        user_age = #{userAge,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sbv.model.User">
    update dm_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_age = #{userAge,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
<!--  <resultMap id="BaseResultMap" type="com.sbv.model.User">-->
<!--    <id column="user_id" jdbcType="INTEGER" property="userId" />-->
<!--    <result column="user_name" jdbcType="VARCHAR" property="userName" />-->
<!--    <result column="user_age" jdbcType="VARCHAR" property="userAge" />-->
<!--    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />-->
<!--  </resultMap>-->
<!--  <sql id="Base_Column_List">-->
<!--    user_id, user_name, user_age, create_time-->
<!--  </sql>-->
<!--  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">-->
<!--    select-->
<!--    <include refid="Base_Column_List" />-->
<!--    from dm_user-->
<!--    where user_id = #{userId,jdbcType=INTEGER}-->
<!--  </select>-->
<!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">-->
<!--    delete from dm_user-->
<!--    where user_id = #{userId,jdbcType=INTEGER}-->
<!--  </delete>-->
<!--  <insert id="insert" parameterType="com.sbv.model.User">-->
<!--    insert into dm_user (user_id, user_name, user_age,-->
<!--      create_time)-->
<!--    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userAge,jdbcType=VARCHAR},-->
<!--      #{createTime,jdbcType=TIMESTAMP})-->
<!--  </insert>-->
<!--  <insert id="insertSelective" parameterType="com.sbv.model.User">-->
<!--    insert into dm_user-->
<!--    <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--      <if test="userId != null">-->
<!--        user_id,-->
<!--      </if>-->
<!--      <if test="userName != null">-->
<!--        user_name,-->
<!--      </if>-->
<!--      <if test="userAge != null">-->
<!--        user_age,-->
<!--      </if>-->
<!--      <if test="createTime != null">-->
<!--        create_time,-->
<!--      </if>-->
<!--    </trim>-->
<!--    <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--      <if test="userId != null">-->
<!--        #{userId,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="userName != null">-->
<!--        #{userName,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="userAge != null">-->
<!--        #{userAge,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="createTime != null">-->
<!--        #{createTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--    </trim>-->
<!--  </insert>-->
<!--  <update id="updateByPrimaryKeySelective" parameterType="com.sbv.model.User">-->
<!--    update dm_user-->
<!--    <set>-->
<!--      <if test="userName != null">-->
<!--        user_name = #{userName,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="userAge != null">-->
<!--        user_age = #{userAge,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="createTime != null">-->
<!--        create_time = #{createTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--    </set>-->
<!--    where user_id = #{userId,jdbcType=INTEGER}-->
<!--  </update>-->
<!--  <update id="updateByPrimaryKey" parameterType="com.sbv.model.User">-->
<!--    update dm_user-->
<!--    set user_name = #{userName,jdbcType=VARCHAR},-->
<!--      user_age = #{userAge,jdbcType=VARCHAR},-->
<!--      create_time = #{createTime,jdbcType=TIMESTAMP}-->
<!--    where user_id = #{userId,jdbcType=INTEGER}-->
<!--  </update>-->
</mapper>
